{{extend 'layout.html'}}

<br><br>

<div class="panel panel-danger">

  <div class="panel-heading">
    <h3>
      <i><b>{{=mGame.mName}}</b> </i>
    </h3>
  </div>

  <div class="panel-body">

    {{if mCanShowsJoinButton:}}
      <div class="btn-group btn-group-justified" role="group" aria-label="">
        <a class="btn btn-info" role="button" href="{{=URL('game', 'join',args=mGame.id)}}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          {{=T('Join in tournament')}}
        </a>
      </div>
      <br>
    {{pass}}

    {{if MyAuth.isMaster() and mMatchForm:}}
      <div class="btn-group btn-group-justified" role="group" aria-label="">
        <a class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseMatch" aria-expanded="false" aria-controls="collapseMatch">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          {{=T('Add Match')}}
        </a>
      </div>

      <br>

      <div class="collapse" id="collapseMatch">
        <div class="well">
          {{=mMatchForm}}
        </div>
      </div>
    {{pass}}


    <style>
        td, th {
            border: 1px solid #dddddd;
            text-align: center;
        }
    </style>

    {{if len(mAuthGame) > 0:}}
    {{from gluon.tools import prettydate}}
    <div class="table-responsive">
     <table class="table table-bordered">
       <thread>
        <tr>
          <th><b>POS<b></th>
          <th><b>{{=db.tbAuthGame.mAuth.label}}<b></th>
          <th><b>PTS<b></th>
          <th><b>J<b></th>
          <th><b>VIT<b></th>
          <th><b>EMP<b></th>
          <th><b>DER<b></th>
          <th><b>GP<b></th>
          <th><b>GC<b></th>
          <th><b>SG<b></th>
        </tr>
      </thread>
        {{mIndex = 0}}
        {{for mAG in mAuthGame:}}

          {{if mIndex==0:}}
              {{mOldAG=mAG}}
              {{mIndex+=1}}
          {{else:}}
              {{if mOldAG.mPoints!=mAG.mPoints or mOldAG.mPoints!=mAG.mVictories or mOldAG.mPoints!=mAG.mDraws or mOldAG.mPoints!=mAG.mLosses or mOldAG.mPoints!=mAG.mProGoals or mOldAG.mPoints!=mAG.mGoalsAgainst :}}
                  {{mOldAG=mAG}}
                  {{mIndex+=1}}
              {{pass}}              
          {{pass}}

          <tbody>
            {{if mIndex%2==0:}}
             <tr>
            {{else:}}
             <tr style="background-color:#ffffff;">
            {{pass}}
                <td>
                  <b>{{=mIndex}}</b>
                </td>
                <td>
                  <b>{{=mAG.mAuth.first_name}} {{=mAG.mAuth.last_name}}</b>
                </td>
                <td>
                  <b>{{=mAG.mPoints}}</b>
                </td>
                <td>
                  {{=mAG.mMatches}}
                </td>
                <td>
                  {{=mAG.mVictories}}
                </td>
                <td>
                  {{=mAG.mDraws}}
                </td>
                <td>
                  {{=mAG.mLosses}}
                </td>
                <td>
                  {{=mAG.mProGoals}}
                </td>
                <td>
                  {{=mAG.mGoalsAgainst}}
                </td>
                <td>
                  {{=mAG.mProGoals - mAG.mGoalsAgainst}}
                </td>
              </tr>
          </tbody>
        {{pass}}
       </table>
       </div>

      <br><br>

      {{else:}}

      <ul class="list-group">
        <li class="list-group-item"> <h2> <b> {{=T("No players!")}} </b> </h2> </li>
      </ul>

    {{pass}}

  </div>

  <div class="panel-footer">

  </div>

</div>
